DISCORD_TOKEN=<discord bot token>
DEVTOKEN=<discord bot token>
LOG_LEVEL= info|debug
DISCORD_CLIENT_ID=<discord client id>
DOWNLOADS_COMMAND_DISABLED=false
DOWNLOADS_FOLDER = <downloads folder name>
PORT = 3000
HOST = <ip or domain of the host>